<div>
    <h1>BIN</h1>
    <span style="display:flex; margin:20px 10px ">
      {{#each courses}}
      <div class="card" style="width: 18rem;">
        <img src="{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="bin/restore/{{this._id}}" class="btn btn-primary" style="background-color:green;">Restore</a>
          <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal" style="background-color: red;">
            Delete
          </button>
        </div>
      </div>

        <!-- Modal -->
        <div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Delete permanently?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id ="btn-del" type="button" class="btn btn-primary">Delete permanently</button>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        NO DELETED COURSE
      {{/each}}
    </span>

  
</div>
<form name="delete-form" class="row gt-10" method="post" style="padding:20px;font-size: 16px;" ></form>
<script>

  document.addEventListener("DOMContentLoaded",function(){
    var id;
    var delete_form=document.forms['delete-form']
    $('#delete-course-modal').on('show.bs.modal',function(event){
      const button = event.relatedTarget
      id = button.getAttribute('data-id')
    })

    const btn_del_course= document.getElementById('btn-del')
    btn_del_course.onclick=function (){
      delete_form.action=`/bin/delete/${id}?_method=DELETE`
      delete_form.submit()
    }
  })
    
</script>